{% extends "base.html" %}
{%load common_tags%}

{% block content %}


<!-- ++++++++++++++++  complete task  ++++++++++++++++++  --> 

    <div class="well well-lg" id="ctask-div">
        
        {%comment%}
        <blockquote>
            <h3 style='color:green;' title="Tasks that are marked as not possible.">
                Other Tasks
            </h3>
        </blockquote>
        {%endcomment%}

        {%if xtasks%}
            <table class="table table-bordered">
                <thead>
                    {%comment%}
                    <th>#</th>
                    {%endcomment%}
                    <th width="18%"><h4><b>Location</b></h4></th>
                    <th width="42%"><h4><b>Details</b></h4></th>
                    <th width="8%"><h4><b>Priority</b></h4></th>
                    <th width="12%"><h4><b>Status</b></h4></th>
                    {%if request.user.is_superuser or request.user.is_staff%}
                        <th></th>
                    {%endif%}
                </thead>
                <tbody>
                    {%for  task in xtasks%}
                        <!-- <tr>  -->
                        <tr {%if task.repeatable %} style="border-left: solid blue 2px;"{%endif%}>
                    {%comment%}
                            <td>{{forloop.counter|add:ctask_list.next_page_number}}.</td>
                            <td>
                                {%time_required task.id %}

                                {% if task.repeatable %}
                                    &nbsp;
                                    <span class="glyphicon glyphicon-repeat"
                                        title="">
                                    </span>
                                {%endif%}

                            </td>
                    {%endcomment%}
                            <td width="18%">
                                {% show_location task %}
                            </td>
                            <td width="42%" title="{{task.desc}}">
                                {#{task.desc|truncatechars:60}#}
                                {{task.desc}}
                            </td>
                            <td width="8%" style='color:green;'>
                                {% show_priority task %}
                            </td>

                            <td width="12%">
                                {%if task.status == 'I' %}
                                        In Progress
                                {%endif%}
                                {%if task.status == 'X' %}
                                        Not Possible
                                {%endif%}
                            </td>


                            {%if request.user.is_superuser or request.user.is_staff%}
                                <td>
                                    <!-- Edit link -->
                                    <a href="{%url 'edit_task' task.id%}">Edit</a>
                                    &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; 

                                    <!-- Pending link -->
                                    <a title="Mark as pending." href="{%url 'mark_task_pending' task.id%}">Pending</a>

                                    <!-- Delete link -->
                                    {%if request.user.is_superuser%}
                                        &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; 
                                        <a id="id-del-task" href="{%url 'delete_task' task.id%}">
                                        <span class="glyphicon glyphicon-trash"></span></a>
                                    {%endif%}
                                </td>
                            {%endif%}
                        </tr>         
                    {%endfor%}

                </tbody>
            </table>
        {%endif%}
    </div>

{% endblock content %}


{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('a#id-del-task').click(function(e){
                var msg = "Do you want to delete task?"
                var isDelete = window.confirm(msg);
                if ( isDelete != true )
                    e.preventDefault();
                $(this).closest('form').trigger('submit');
            });
        });
    </script>
{% endblock extra_js %}
