
{% if is_admin %}
    <small>
    <a href="#" class="text-deco-none">
        <i class="icon-user"></i>
        {{username}}
        </a>

    <span class="">&nbsp;&nbsp;&#134;&nbsp;&nbsp;</span>

    {% url "admin_logout" as admin_logout %}
    <a href="{{admin_logout}}" class="text-deco-none"
      title="LOGOUT">&nbsp;<i class="icon-off"></i></a>
    </small>
{% else %}
    {{request.user}}
    {{request}}
    {% url "admin_login" as admin_login %}
    <form class="form-inline pull-right" role="form" action="{{admin_login}}">
        <input type="username" class="form-control" 
            id="username" placeholder="Username">

         <input type="password" class="form-control" 
            id="password" placeholder="Password">
       <button type="submit" class="btn btn-default">Enter</button> 
    </form>
{% endif %}

