
html, body {    
    height: 100%;
}

body {
    border-top: 5px solid green; /*#01DF01;*/
}

div.main-div {
    min-height: 420px;
}

div.navbar {
    background-color: #30ADD1;
    color: #FFF;
    font-weight: bold;
}

div.footer {
    background-color: #575757;
    min-height: 120px;
    color: #FFF;
}

form.form-inline {
    margin-top: 10px;
}
